#changePass.boxed(ng-show='views.changePass')
  form.form-group(ng-submit='changePass()')
    img(ng-src='{{StandBy.config.profile.logos.login}}',
    alt='{{StandBy.config.profile.title}}')
    h4.form-signin-heading {{changepass.uuid}}
    .alert(class="{{alert.changePass.type}}",
    ng-show='alert.changePass.display')
      button.close(type='button', ng-click='alert.changePass=false') ×
      | {{alert.changePass.message}}
    input.form-control(type='password',
    ng-model='changeData.newPass',
    placeholder='{{ui.login.ph_newPass}}')
    input.form-control(type='password',
    ng-model='changeData.retypePass',
    placeholder='{{ui.login.ph_retypePass}}')
    button.btn.btn-lg.btn-primary(type='submit')
      | {{ui.login.changePassword}}