#forgot.boxed(ng-show='views.forgot')
  form(ng-submit='forgot()')
    img(ng-src='{{config.profile.logos.login}}',
    alt='{{config.profile.title}}')
    h4.form-signin-heading
      | {{ui.login.forgetPassword}}
    .alert(class="{{alert.forget.type}}",
    ng-show='alert.forget.display')
      button.close(type='button',
      ng-click='alert.forget=false') ×
      | {{alert.forget.message}}
    input(type='text',
    ng-model='remember.id',
    placeholder='{{ui.login.placeholder_username}}')
    button.btn.btn-large.btn-primary(type='submit')
      | {{ui.login.resetPassword}}
    p
      small: a(ng-click='views.login=true; views.forgot=false') {{ui.login.returnLogin}}