.page-header
  h2(ng-hide='views.add || views.member') {{group.name}}
  h2(ng-show='views.add') {{ui.groups.newGroup}}
  h2(ng-show='views.member') {{ui.groups.newMember}}

  .btn-group.pull-right
    button.btn.btn-success(type='button',
    class="{{(views.add==true) && 'active'}}",
    ng-click='addGroupForm(); setViewTo("add")') {{ui.groups.newGroup}}
    button.btn.btn-success(type='button',
    class="{{(views.member==true) && 'active'}}",
    ng-click='newMemberForm(); setViewTo("member")') {{ui.groups.newMember}}

  form.pull-right(ng-submit='searchMembers(search.query)', style='width: 256px;')
    .input-group
      input.form-control.search-query(type='text',
      placeholder='{{ui.groups.searchFor}}',
      ng-model='search.query')
      span.input-group-btn
        button.btn.btn-default(type='submit')
          i.glyphicon.glyphicon-search
          | &nbsp;{{ui.groups.search}}

.tabbable.tabs-left

  ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0;')

    li(ng-show='views.add',
    class="{{(views.add==true) && 'active'}}")
      a(href='groups#addGroupTab', ng-click='setViewTo("add")', data-toggle='tab')
        span.entypo &#9998;
        | {{ui.groups.addNewGroup}}
    li(ng-show='views.edit',
    class="{{(views.edit==true) && 'active'}}")
      a(href='groups#editGroupTab', ng-click='setViewTo("edit")', data-toggle='tab')
        span.entypo &#9998;
        | {{ui.groups.editGroup}}
    li(ng-show='views.member',
    class="{{(views.member==true) && 'active'}}")
      a(href='groups#newMemberTab', ng-click='setViewTo("member")', data-toggle='tab')
        span.entypo &#59136;
        | {{ui.groups.newMember}}
    li(ng-show='views.search',
    class="{{(views.search==true) && 'active'}}")
      a(href='groups#searchTab', ng-click='setViewTo("search")', data-toggle='tab')
        span.entypo &#128269;
        | {{ui.groups.searchResults}}
    li#groupTabLink(class="{{(views.view==true) && 'active'}}")
      a(href='groups#groupTab', data-toggle='tab', ng-click='setViewTo("view")')
        span.entypo &#128101;
        | {{ui.groups.groups}}

  .tab-content

    div#addGroupTab.tab-pane(ng-show='views.add', class="{{(views.add==true) && 'active'}}")
      add-group

    div#editGroupTab.tab-pane(ng-show='views.edit', class="{{(views.edit==true) && 'active'}}")
      edit-group

    div#newMemberTab.tab-pane(ng-show='views.member', class="{{(views.member==true) && 'active'}}")
      new-member

    div#searchTab.tab-pane(ng-show='views.search', class="{{(views.search==true) && 'active'}}")
      member-search

    div#groupTab.tab-pane(class="{{(views.view==true) && 'active'}}")
      group-listing