.page-header
	h2 {{ui.message.messages}}
		.btn-group.pull-right
			button.btn.btn-success(type='submit',
			class="{{(views.compose==true) && 'active'}}",
			ng-click='composeMessage(); setViewTo("compose")')
				| {{ui.message.composeAMessage}}

div
	.tabbable.tabs-left

		ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')
			li(ng-show='views.compose', class="{{(views.compose==true) && 'active'}}")
				a(href='messages#composeTab', data-toggle='tab', ng-click='setViewTo("compose")')
					span.entypo &#9998;
					| {{ui.message.compose}}
			li(ng-show='views.message', class="{{(views.message==true) && 'active'}}")
				a(href='messages#viewTab', data-toggle='tab', ng-click='')
					span.entypo &#128196;
					| {{ui.message.message}}
			li(class="{{(views.inbox==true) && 'active'}}")
				a(href='messages#inboxTab', data-toggle='tab', ng-click='resetViews(); setViewTo("inbox")')
					span.entypo &#128229;
					| {{ui.message.inbox}}
			li(class="{{(views.outbox==true) && 'active'}}")
				a(href='messages#outboxTab', data-toggle='tab', ng-click='resetViews(); setViewTo("outbox")')
					span.entypo &#128228;
					| {{ui.message.outbox}}
			li(class="{{(views.notifications==true || views.scheaduler==true) && 'active'}}",
			ng-hide='StandBy.resources.role > 1')
				a(href='messages#notificationsTab', data-toggle='tab', ng-click='resetViews(); setViewTo("notifications")')
					span.entypo &#128276;
					| {{ui.message.notifications}}
			li(class="{{(views.trash==true) && 'active'}}")
				a(href='messages#trashTab', data-toggle='tab', ng-click='resetViews(); setViewTo("trash")')
					span.entypo &#9749;
					| {{ui.message.trash}}

		.tab-content

			#composeTab.tab-pane(ng-show='views.compose || views.scheaduler',
			class="{{(views.compose==true || views.scheaduler==true) && 'active'}}")
				compose

			#viewTab.tab-pane(ng-show='views.message',
			class="{{(views.message==true) && 'active'}}")
				view

			#inboxTab.tab-pane(class="{{(views.inbox==true) && 'active'}}")
				inbox

			#outboxTab.tab-pane(class="{{(views.outbox==true) && 'active'}}")
				outbox

			#notificationsTab.tab-pane(class="{{(views.notifications==true) && 'active'}}")
				notifications

			#trashTab.tab-pane(class="{{(views.trash==true) && 'active'}}")
				trash