section#planboard(ng-controller='timeline')
  div.page-header
    h2 {{ui.planboard.planboard}}
    time-quick-availability
  time-travel
  time-slot

  div.row
    .tabbable.tabs-left
      ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')
        li.active
          a(href='planboard#timelineTab', data-toggle='tab', ng-click='destroy.statistics();')
            span.entypo &#128340;
            | {{ui.planboard.timeline}}
        li
          a(href='planboard#statisticsTab', data-toggle='tab', ng-click='destroy.timeline();')
            span.entypo &#128200;
            | {{ui.planboard.statistics}}

      .tab-content

        // timeline
        div#timelineTab.tab-pane.active
          #timeline
            time-toolbar
            hr
            // alert-window
            div.alert.alert-warning(ng-show='registeredNotifications.timeLineDragging')
              button.close(type='button',
              ng-click='registerNotification("timeLineDragging", false)',
              data-dismiss='alert') ×
              small
                | U kunt ook uw
                strong
                  i beschikbaarheid wijzigen
                | door te
                | dubbelklikken op reeds bestaande blokken of
                strong
                  i door te slepen
                | met uw muis met de linkermuisknop en de
                strong SHIFT (Mac)
                | of
                strong CTRL (Windows)
                | knop tegelijkertijd ingedrukt.

            time-legends(ng-show='timeline.config.legendarer')
            #mainTimeline
          hr
          p
            small.pull-left
              span.text-warning {{ui.planboard.lastSyncTime}}
              span.text-muted &nbsp; {{data.synced | nicelyDate}}
            small.pull-right
              span.text-warning {{ui.planboard.dataRangeStart}}
              span.text-muted {{data.periods.start | nicelyDate}}
              | &nbsp;&nbsp;| &nbsp;
              span.text-warning {{ui.planboard.dataRangeEnd}}
              span.text-muted {{data.periods.end | nicelyDate}}

        // statistics
        div#statisticsTab.tab-pane
          // time-toolbar
          div#timeline-toolbar
            .pull-left
              select(ng-model='timeline.current.group',
              ng-options='group.uuid as group.name for group in groups',
              ng-selected='timeline.current.group',
              ng-change='requestTimeline()')
              select(ng-model='timeline.current.division',
              ng-options='division.id as division.label for division in divisions',
              ng-selected='timeline.current.division',
              ng-change='changeDivision()',
              ng-show='divisions.length > 0')
            .pull-right
              .btn-group
                button.btn.btn-default(type='button',
                class="{{(timeline.current.layouts.group==true) && 'active'}}"
                ng-model='timeline.current.layouts.group',
                ng-click='requestTimeline("group")') {{ui.planboard.group}}
                button.btn.btn-default(type='button',
                class="{{(timeline.current.layouts.members==true) && 'active'}}",
                ng-model='timeline.current.layouts.members',
                ng-click='requestTimeline("members")',
                ng-show='(StandBy.resources.role < 3) || timeline.config.layouts.members') {{ui.planboard.members}}
          hr
          time-legends
          #stats
            #groupStats(ng-repeat='agg in data.aggs')
              div(ng-show='groupPieHide[agg.division.id] || (timeline.current.division == "all")')
                .groupPies(id="groupPie-{{agg.division.id}}")
                .groupStatInfo
                  h3
                    | {{agg.id | groupIdToName | toTitleCase}}
                    span(ng-hide='!agg.division.label')   ({{ agg.division.label }})
                  hr
                  ul
                    li
                      .ratios.more
                        span.ratio {{agg.ratios.more}}
                        span.percentage %
                      .info
                        h4 {{ui.planboard.statPeopleMore}}
                        h5 {{agg.durations.more | calculateTimeInDays}}
                        small.text-muted {{ui.planboard.statDays}}
                        | ,
                        h5 {{agg.durations.more | calculateTimeInHours}}
                        small.text-muted {{ui.planboard.statHours}}
                        | ,
                        h5 {{agg.durations.more | calculateTimeInMinutes}}
                        small.text-muted {{ui.planboard.statMinutes}}
                    li
                      .ratios.even
                        span.ratio {{agg.ratios.even}}
                        span.percentage %
                      .info
                        h4 {{ui.planboard.statPeopleEven}}
                        h5 {{agg.durations.even | calculateTimeInDays}}
                        small.text-muted {{ui.planboard.statDays}}
                        | ,
                        h5 {{agg.durations.even | calculateTimeInHours}}
                        small.text-muted {{ui.planboard.statHours}}
                        | ,
                        h5 {{agg.durations.even | calculateTimeInMinutes}}
                        small.text-muted {{ui.planboard.statMinutes}}
                    li
                      .ratios.less
                        span.ratio {{agg.ratios.less}}
                        span.percentage %
                      .info
                        h4 {{ui.planboard.statPeopleLess}}
                        h5 {{agg.durations.less | calculateTimeInDays}}
                        small.text-muted {{ui.planboard.statDays}}
                        | ,
                        h5 {{agg.durations.less | calculateTimeInHours}}
                        small.text-muted {{ui.planboard.statHours}}
                        | ,
                        h5 {{agg.durations.less | calculateTimeInMinutes}}
                        small.text-muted {{ui.planboard.statMinutes}}
            #memberBars
              ul
                li(ng-repeat='member in data.members')
                  h4 {{member.id | convertUserIdToName}}
                  .progress
                    .progress-bar(ng-repeat='stat in member.stats',
                    ng-style='{ "width": stat.ratio + "%" }',
                    class="{{stat.state}}")
                  small.text-muted {{member.stats | convertRatios}}
          hr
          p
            small.pull-left
              span.text-warning {{ui.planboard.lastSyncTime}}
              span.text-muted &nbsp; {{data.synced | nicelyDate}}
            small.pull-right
              span.text-warning {{ui.planboard.dataRangeStart}}
              span.text-muted {{data.periods.start | nicelyDate}}
              | &nbsp;&nbsp;| &nbsp;
              span.text-warning {{ui.planboard.dataRangeEnd}}
              span.text-muted {{data.periods.end | nicelyDate}}