section#profile
  .page-header: h2 {{data.resources.firstName}} {{data.resources.lastName}}

  .row
    .tabbable.tabs-left
      ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')
        li(class="{{(views.profile==true) && 'active'}}")
          a(href='{{data.resources.uuid}}#profileTab',
          data-toggle='tab',
          ng-click='fixTabHeight("profileTab"); setViewTo("profile")')
            span.entypo &#128100;
            | {{ui.profile.profile}}
        li(class="{{(views.edit==true) && 'active'}}",
        ng-hide='(data.resources.role == 0 && StandBy.resources.role != 0) || (StandBy.resources.role > 1 && data.resources.uuid != StandBy.resources.uuid)')
          a(href='{{data.resources.uuid}}#editTab',
          data-toggle='tab',
          ng-click='fixTabHeight("editTab"); setViewTo("edit")')
            span.entypo &#9998;
            | {{ui.profile.edit}}
        li(ng-show='views.user', class="{{(views.password==true) && 'active'}}")
          a(href='{{data.resources.uuid}}#passwordTab',
          data-toggle='tab',
          ng-click='fixTabHeight("passwordTab"); setViewTo("password")')
            span.entypo &#128274;
            | {{ui.profile.password}}
        li(class="{{(views.timeline==true) && 'active'}}",
        ng-hide='(data.resources.role == 0 && StandBy.resources.role != 0) || (StandBy.resources.role > 1 && data.resources.uuid != StandBy.resources.uuid)')
          a(href='{{data.resources.uuid}}#userTimelineTab',
          data-toggle='tab',
          ng-click='fixTabHeight("userTimelineTab"); setViewTo("timeline"); redraw()',
          ng-hide='views.user')
            span.entypo &#128340;
            | {{ui.profile.timeline}}

      .tab-content
        div#profileTab.tab-pane(class="{{(views.profile==true) && 'active'}}")
          profile-view

        div#editTab.tab-pane(class="{{(views.edit==true) && 'active'}}")
          profile-edit

        div#passwordTab.tab-pane(ng-show='views.user',
        class="{{(views.password==true) && 'active'}}")
          profile-password

        div#userTimelineTab.tab-pane(ng-hide='views.user',
        ng-controller='timeline',
        class="{{(views.timeline==true) && 'active'}}")
          profile-timeline

#deleteUserModal.modal.hide.fade(tabindex='-1',
role='dialog',
aria-labelledby='deleteUserModalLabel',
aria-hidden='true')
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    h3#deleteUserModalLabel {{ui.profile.remove.title}}
  .modal-body
    p {{ui.profile.remove.info}}
    .alert.alert-warning(ng-show='deleteUserError')
      button.close(type='button', data-dismiss='alert') ×
      | {{deleteUserErrorMessage}}
    form
      .control-group
        .controls
          input(type='password', placeholder='Uw wachtwoord', ng-model='userPassword')
  .modal-footer
    button.btn.btn-danger(type='submit',
    ng-click='deleteUser(userPassword)',
    style='margin-right: 10px;') {{ui.profile.remove.button}}
    button.btn.btn-default(data-dismiss='modal', aria-hidden='true') {{ui.profile.remove.cancel}}
