div(style='overflow: hidden; height: 35px;')
  h3.pull-left(style='margin-top: 0;') {{ui.profile.timeline}}
  .btn-group.pull-right
    button.btn.btn-success(type='submit',
    class="{{(forms.add==true) && 'active'}}",
    ng-click='toggleSlotForm()') {{ui.profile.newAvail}}
hr
#timeline-controls.row-fluid(ng-controller='timeline-navigation')
  .pull-left(style='margin-top: 10px;')
    .btn-group.pull-left(style='margin-right: 5px;')
      button.btn.btn-default(type='button',
      ng-click='timelineThisWeek()') {{ui.dashboard.thisWeek}}
    .btn-group.pull-left(style='margin-right: 5px;')
      button.btn.btn-default(type='button', ng-click='timelineWeekBefore()')
        i.glyphicon.glyphicon-arrow-left
      button.btn(type='button', ng-click='timelineZoomIn()')
        i.glyphicon.glyphicon-zoom-in
      button.btn(type='button', ng-click='timelineZoomOut()')
        i.glyphicon.glyphicon-zoom-out
      button.btn(type='button', ng-click='timelineWeekAfter()')
        i.glyphicon.glyphicon-arrow-right

    .btn-group.pull-left
      button.btn.btn-default(type='button',
      class="{{(timeline.config.legendarer==true) && 'active'}}",
      ng-click='showLegenda()',
      ng-model='timeline.config.legendarer') {{ui.planboard.legenda}}

  .pull-right(style='text-align: right;')
    h4(style='font-weight: normal;')
      | {{timeline.range | rangeMainWeekFilter}}
      br
      div(style='font-size: 15px; font-weight: lighter;')
        span {{timeline | rangeInfoWeekFilter}}

hr(ng-hide='forms.add || forms.edit')

.legenda(ng-show='timeline.config.legendarer')
  .legenda-row
    strong {{ui.planboard.members}}
    ul
      li(ng-repeat='(key, value) in timeline.config.states',
      class="legenda-{{value.className}}")
        label
          .square
          input(type='checkbox',
          ng-click='alterLegenda(timeline.config.legenda)',
          ng-model='timeline.config.legenda[key]')
          | {{value.label}}
  hr

#form-open.row-fluid(ng-show='forms.add || forms.edit')
  form.form-inline.form-toggled
    button.close(ng-click='resetInlineForms(); forms.add = false; forms.edit = false;') ×
    h4(ng-show='forms.add') {{ui.profile.newAvail}}
    h4(ng-show='forms.edit') {{ui.planboard.updateAvail}}
    hr
    .form-elements-group(ng-show='browser.mobile')
      label {{ui.planboard.from}}
      .control-group.dater-mobile
        input(name='date-start',
        type='datetime',
        ng-model='slot.start.datetime')
    .form-elements-group(ng-hide='browser.mobile')
      label {{ui.planboard.from}}
      .control-group.dater
        input(name='date-start',
        type='text',
        ng-model='slot.start.date',
        data-date-format='dd-mm-yyyy',
        bs-datepicker='')
        i.glyphicon.glyphicon-calendar
      .control-group.timer
        input(name='time-start',
        type='text',
        ng-model='slot.start.time',
        bs-timepicker='bs-timepicker')
        i.glyphicon.glyphicon-time
    .form-elements-group(ng-show='browser.mobile')
      label {{ui.planboard.till}}
      .control-group.dater-mobile
        input(name='date-start',
        type='datetime',
        ng-model='slot.end.datetime')
    .form-elements-group(ng-hide='browser.mobile')
      label {{ui.planboard.till}}
      .control-group.dater
        input(name='date-end',
        type='text',
        ng-model='slot.end.date',
        data-date-format='dd-mm-yyyy',
        bs-datepicker='')
        i.glyphicon.glyphicon-calendar
      .control-group.timer
        input(name='time-end',
        type='text',
        ng-model='slot.end.time',
        bs-timepicker='bs-timepicker')
        i.glyphicon.glyphicon-time
    .form-elements-group
      label {{ui.planboard.state}}
      select(ng-model='slot.state',
      ng-options='option as value for (option, value) in states')
        option(value='') {{ui.planboard.selectAState}}
    .form-elements-group.rightest
      label {{ui.planboard.reoccuring}}
      input(type='checkbox', ng-model='slot.recursive')
    .form-elements-actions.pull-right
      div(ng-show='forms.add')
        button.btn.btn-success(type='button',
        ng-click='timelineOnAdd("true", slot)') {{ui.planboard.add}}
      div(ng-show='forms.edit')
        button.btn.btn-danger(type='button',
        ng-click='timelineOnRemove()') {{ui.planboard.del}}
        button.btn.btn-success(type='button',
        ng-click='timelineOnChange("true", original, slot)') {{ui.planboard.change}}

div(ng-hide='timelineLoaded')
  p {{ui.planboard.loadingTimeline}}
#timeline(ng-show='timelineLoaded')
  #userTimeline
hr
p
  small.pull-left
    span.text-warning {{ui.planboard.lastSyncTime}}
    span.text-muted {{data.synced | nicelyDate}}
  small.pull-right
    span.text-warning {{ui.planboard.dataRangeStart}}
    span.text-muted {{data.periods.start | nicelyDate}}
    | |
    span.text-warning {{ui.planboard.dataRangeEnd}}
    span.text-muted {{data.periods.end | nicelyDate}}