div(style='overflow: hidden; height: 35px;')
  h3.pull-left(style='margin-top: 0;') {{ui.profile.editProfile}}
  div(ng-hide='StandBy.resources.uuid == profilemeta.uuid')
    button.btn.btn-danger.pull-right(ng-click='showDeleteUserModal()',
    role='button',
    data-toggle='modal',
    ng-hide='StandBy.resources.role > 1')
      | {{ui.profile.remove.title}}
hr

form.form-vertical(name='profileForm')
  .control-group(ng-hide='StandBy.resources.role > 1 || profileRole == 0')
    label.control-label {{ui.profile.role}}
    .controls
      select(ng-model='profileRole', ng-options='id as label for (id, label) in roles')
  .control-group(ng-hide='StandBy.resources.role > 1')
    | 1"
    label.control-label(style='width: 530px;') Groups
      select.chosen-select(data-placeholder=' ',
      multiple='',
      chosen='',
      ng-model='userGroups',
      ng-options='group.name for group in availableGroups',
      ng-change='detectChanges()')
  .control-group
    label.control-label {{ui.groups.firstName}}
    .controls
      input.col-md-4(type='text',
      ng-model='profilemeta.firstName',
      value='{{data.resources.firstName}}')
  .control-group
    label.control-label {{ui.groups.lastName}}
    .controls
      input.col-md-4(type='text',
      ng-model='profilemeta.lastName',
      value='{{data.resources.lastName}}')
  .control-group
    label.control-label {{ui.profile.email}}
    .controls
      input.col-md-4(type='email',
      name='email',
      ng-model='profilemeta.EmailAddress',
      ng-minlength='3',
      ng-maxlength='50',
      value='{{data.resources.EmailAddress}}')
      .error-container(ng-show='profileForm.email.$dirty && profileForm.email.$invalid')
        p.text-danger(ng-show='profileForm.email.$error.minlength')
          small
            i {{ui.errors.email.min}}
        p.text-danger(ng-show='profileForm.email.$error.email')
          small
            i {{ui.errors.email.notValid}}
        p.text-danger(ng-show='profileForm.email.$error.maxlength')
          small
            i {{ui.errors.email.max}}
  .control-group
    label.control-label {{ui.profile.phone}}
    .controls
      .input-prepend(ng-show='phoneViews.second')
        span.add-on(style='width: 70px;') Standaard
        input.inputPhoneNumbers.inputPhoneNumber-1(type='text',
        ng-model='profilemeta.phones[1]',
        ng-change='profilePhoneNumberParser()',
        style='width: 155px;')
      .input-prepend.input-append(ng-hide='phoneViews.second')
        span.add-on(style='width: 70px;') Standaard
        input.inputPhoneNumbers.inputPhoneNumber-1(type='text',
        ng-model='profilemeta.phones[1]',
        ng-change='profilePhoneNumberParser()',
        style='width: 155px;')
        button.btn.btn-success(type='button', ng-click='addPhoneNumber("second")')
          i.glyphicon.glyphicon-white.glyphicon-plus
          | Add new
      p.text-danger(ng-hide='profilePhoneNumberParsed[1].result')
        small
          i {{profilePhoneNumberParsed[1].message}}
      p.text-success(ng-show='profilePhoneNumberParsed[1].result')
        small
          i {{profilePhoneNumberParsed[1].message}}
    .controls(ng-show='phoneViews.second')
      .input-prepend(ng-show='phoneViews.third')
        span.add-on(style='width: 70px;') Extra.1
        input.inputPhoneNumbers.inputPhoneNumber-2(type='text',
        ng-model='profilemeta.phones[2]',
        ng-change='profilePhoneNumberParser()',
        style='width: 155px;')
      .input-prepend.input-append(ng-hide='phoneViews.third')
        span.add-on(style='width: 70px;') Extra.1
        input.inputPhoneNumbers.inputPhoneNumber-2(type='text',
        ng-model='profilemeta.phones[2]',
        ng-change='profilePhoneNumberParser()',
        style='width: 155px;')
        button.btn.btn-default(type='button', ng-click='removePhoneNumber(2, "second")')
          i.glyphicon.glyphicon-remove
          | Remove
        button.btn.btn-success(type='button',
        ng-click='addPhoneNumber("third")',
        ng-hide='phoneViews.third')
          i.glyphicon.glyphicon-white.glyphicon-plus
          | Add new
      p.text-danger(ng-hide='profilePhoneNumberParsed[2].result')
        small
          i {{profilePhoneNumberParsed[2].message}}
      p.text-success(ng-show='profilePhoneNumberParsed[2].result')
        small
          i {{profilePhoneNumberParsed[2].message}}
    .controls(ng-show='phoneViews.third')
      .input-prepend.input-append
        span.add-on(style='width: 70px;') Extra.2
        input.inputPhoneNumbers.inputPhoneNumber-3(type='text',
        ng-model='profilemeta.phones[3]',
        ng-change='profilePhoneNumberParser()',
        style='width: 155px;')
        button.btn.btn-default(type='button', ng-click='removePhoneNumber(3, "third")')
          i.glyphicon.glyphicon-remove
          | Remove
      p.text-danger(ng-hide='profilePhoneNumberParsed[3].result')
        small
          i {{profilePhoneNumberParsed[3].message}}
      p.text-success(ng-show='profilePhoneNumberParsed[3].result')
        small
          i {{profilePhoneNumberParsed[3].message}}
  .control-group(ng-show='StandBy.resources.role == 0')
    label.control-label {{ui.profile.pagerId}}
    .controls
      input.col-md-5(type='text',
      ng-model='profilemeta.pagerId',
      value='{{data.resources.pagerId}}')
  .control-group
    label.control-label {{ui.profile.address}}
    .controls
      input.col-md-5(type='text',
      ng-model='profilemeta.PostAddress',
      value='{{data.resources.PostAddress}}')
  .control-group
    label.control-label {{ui.profile.postcode}}
    .controls
      input.col-md-2(type='text',
      ng-model='profilemeta.PostZip',
      value='{{data.resources.PostZip}}')
  .control-group
    label.control-label {{ui.profile.city}}
    .controls
      input.col-md-3(type='text',
      ng-model='profilemeta.PostCity',
      value='{{data.resources.PostCity}}')
  hr
  .control-group
    label.control-label {{ui.profile.username}}
    .controls
      input.col-md-3(type='text',
      ng-model='profilemeta.uuid',
      value='{{data.resources.uuid}}',
      disabled='disabled')
  .control-group(ng-hide='StandBy.resources.role > 1 || views.user')
    label.control-label {{ui.profile.password}}
    .controls
      input.col-md-3(type='text',
      ng-model='profilemeta.Password')
      span.help-block(style='margin-top: -5px;')
        small
          i {{ui.profile.passwordChangeWarning}}
  .control-group
    label.control-label {{ui.profile.pincode}}
    .controls
      input.col-md-1(type='text',
      ng-model='profilemeta.pincode',
      ui-mask='9999',
      ng-change='pincodeExists()',
      name='pincode')
      p.text-danger(ng-hide='pincodeExistsValidation')
        small
          i {{pincodeExistsValidationMessage}}
      span.help-block(style='margin-top: -5px;')
        small
          i {{ui.profile.pincodeInfo}}
  .form-actions
    button.btn.btn-success(type='submit',
    ng-click='save(profilemeta)') {{ui.profile.saveProfile}}